:root {
    --accent-color: #333;
    --main-content-width: 950px;
    --main-content-width-with-side-headers: 1200px;
    --side-header-width: 175px;
}

* {
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-color: black;
    color: yellow;
}

/* link styles */
a:link {
    text-decoration: underline;
}

a:visited {
    color: #404040;
}

a:hover,
a:active {
    color: rgb(0, 0, 143);
}


/* header at top of page */
header {
    margin: 20px auto;
    width: 100%;
    background-color: black;
    color: yellow;
}
/* div that contains personal name in English and Japanese */
header>div {
    max-width: var(--main-content-width);
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
h1 {
    margin
    flex-basis: 1;
    flex-shrink: 0;
    font-weight: 900;
    font-size: 3rem;
}
header>nav {
    width: 100%;
    background-color: var(--accent-color);
}
header ul {
    max-width: var(--main-content-width);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-weight: 600;
    font-size: 1.5rem;
}
/* override general link styling */
header ul a:link,
header ul a:visited,
header ul a:hover,
header ul a:active {
    color: yellow;
    text-decoration: none;
}

/* hero logo and catch phrase */
section.hero {
    position: relative;
    width: 100%;
    height: 300px; 
    background-color: rgb(100, 100, 24);
    margin: 20px 0 20px 0;
    background-image: url("../img/pxfuel.com.jpg");
    /* image from https://www.pxfuel.com/en/free-photo-euqzv */
}

section.hero img {
    height: 100%;
    margin-left: 25%;
    object-fit: cover;
}

section.hero h2 {
    background-color: var(--accent-color);
    position: absolute;
    bottom: 10%;
    left: 50%;
    z-index: 1;
    font-size: 1.66rem;
    font-weight: 500;
    width: 50%;
    padding: 3px 0px 3px 10px;
}

/* main content sections */
main {
    display: flex;
    flex-direction: column;
    padding: 1%;
    max-width: var(--main-content-width-with-side-headers);
    margin: 0px auto;
}

/* main section {
    margin: 1rem;
    padding: 0.25em 0.75em;
    background-color: #f1f1c5;
    color: black;
    position: relative; /* Needed to make this the containing element for section headers  */
/*} */

main section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

main h3 {
    width: var(--side-header-width);
    /* text-align: right; */
    color: white;
    /* position: absolute;
    left: -150px; */
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 1rem;
    padding-right: 1rem;
    border-right: 5px yellow solid;
    text-align: right;
}

main div.content-block {
    max-width: var(--main-content-width);
    width: 95%;
    margin: 1rem;
    padding: 0 0.75em;
    background-color: #f1f1c5;
    color: black;
    position: relative; /* Needed to make this the containing element for section headers  */
}

main p {
    margin: 0.5em auto
}

main p:lang("en"),
main li:lang("en") {
    font-family: 'Roboto', sans-serif;
} 

#about-me ul {
    list-style: disc;
    margin: 0.25em 0 0.25em 2em;
}

.projects-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    flex: 1 1 45%;
    margin: 5px;
}

.project:first-child {
    flex-basis: 100%;
}

.project img {
    width: 100%;
    height: 250px;
    border: 2px solid black;
    object-fit: cover;
}

.project-summary {
    position: relative;
}

.project:first-child img {
    height: 500px;
}

.project-summary-text {
    position: absolute;
    bottom: 5%;
    left: 5%;
    background-color: var(--accent-color);
    color: yellow;
    padding: 0.25em 0.5em;
    border: 4px solid black;
}

.project-summary-text>h4 {
    font-size: 1.3em;
    font-weight: bolder;
}

.project-detail {
    display: none;
}

.project:hover .project-detail {
    display: inherit;
    padding: 0.5em;
    background-color: rgb(247, 247, 125);
    border: 2px solid grey;
}



#contact-me ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

#contact-me li {
    flex-basis: 1;
}

#contact-me li,
#resume p {
    font-size: 1.2em;
}

/* footer at bottom of page */

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-left: var(--side-header-width);
    margin-bottom: 20px;
}

/* Hide elements with Japanese content */
:lang("ja"),
*:lang("ja"),
h3:lang("ja"),
div:lang("ja") p {
    display: none;
    visibility: hidden;
}
/* TODO figure out a way to animate a transition
   between English and Japanese content based on some user action. */

@media (max-width: 1320px) {
    
    main section {
        flex-direction: column;
    }

    main h3 {
        text-align: left;
        border-right: unset;
        width: unset;
        border-bottom: 5px yellow solid;
        padding-right: unset;
    }

    main div.content-block {
        flex-grow: 0;
        flex-shrink: 0;
    }

    footer {
        margin-left: 3rem;
        margin-right: 3rem;
        max-width: var(--main-content-width);
    }
}

/* 
TODO: add responsiveness for smaller screensizes */
 
@media (max-width: 850px) {
    .project {
        flex: 1 1 100%;
    }
} 

@media (max-width: 700px) {
    section.hero img {
        margin-left: 50%;
        transform: translate(-50%);
    }
    section.hero h2 {
        left: unset;
        width: unset;
        right: 0;
        padding-right: 1rem;
    }
    #contact-me ul {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }
    
    header ul {
        margin-left: 3rem;
        flex-direction: column;
    }
}